{% extends "base.html" %}
{% block title %}Contact | UltraEd{% endblock %}

{% block content %}
<style>
    #text {
        font-size:40px;
        padding-top:10%;
    }

    .container-p4 {
        margin-top:200px
    }
</style>
<p id="text" style="text-align:center;">If you have any questions, please send us an email. Our email address is <a href="mailto: teamultraed@gmail.com">teamultraed@gmail.com</a>.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
